body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
/* -----------HEADER------------- */
.header {
}
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
/* NAVY BLUE */
color: #2E2F42;
}
.logo-part {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
/* IRIS */
color: #4D5AE5;
}

.header-navigation {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* NAVY BLUE */
}
.header-contact {
}
.header-contact-item {
}
.header-contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
/* -------------------Section HERO----------------- */
.main {
}
.hero {
  /* NAVY BLUE */
  background: #2e2f42;
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* IRIS */
  background: #4d5ae5;
}

/* -------------------Section ABOUT----------------- */

.about {
}
.about-list {
}
.about-item {
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

/* -------------------Section PRODUCTS----------------- */

.products {
}
.products-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}
.products-list {
}
.products-item {
}
.products-img {
}

/* -------------------Section TEAM----------------- */

.team {
  /* CLOUD */
  background: #f4f4fd;
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.team-item {
  background: #ffffff;
}
.team-item-img {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

/* -------------------Section FOOTER----------------- */

.footer {
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* CORNFLOWER */
  color: #e7e9fc;
}
